# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Environment files
# =========================
.env

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Model / Large files
# =========================
yolov8n.pt

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db